
<div class="row">
  <div class="col-md-12">
  	<div class="center-block text-center">

<h1>Welcome to the Rails Movie App</h1>
<h1><small>Where Magic Happens</h1>
<div class="row">
  <div class="col-md-12">
<%= link_to 'Add Movie to DB', new_movie_path, :type => "button", :class => "btn btn-primary" %>
	</div>
</div>

</div>
</div>




<% @movies.each do |movie| %>

  <!-- <a href="/movies/<%#= movie['imdbID'] %>"><%#= movie["Title"] %></a> - <%#= movie["Year"] %></br> -->

<div class="col-md-4 center-block">
  <h3><%= link_to movie["title"], movie_path(movie['imdbID']) %>
  	<h3><small><%= movie["year"] %><small></h3>
	<ul class="list-inline">
		<li><%= button_to "edit", {controller: :movies, action: :edit, id: movie["imdbID"] }, :method => :get, :type => "button", :class => "btn btn-default btn-xs" %></li>
		<li><%= button_to "delete", {controller: :movies, action: :destroy, id: movie["imdbID"] }, :method => :delete, :type => "button", :class => "btn btn-default btn-xs" %></li>
	</ul>
	<div class="col-md-2">
	</div>
</div>



<% end %>



	</div>
</div>